body {
    background-color: white;
  }
h1 {
  color: black;
  text-align: center;
}

p {
  font-family: palatino;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

h3 {
  color: black;
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

h4 {
    color: black;
    text-align: center;
}

.navbar-header {
  background-color: rgb(102, 153, 255);
}

.card {
  padding: 16px;
  background-color: rgb(210, 221, 234);
  border-style: solid;
  border-color: white;
  border-width: 10px;
}
